---
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import SocialPill from "../components/SocialPill.astro";
import CvIcon from "../icons/CvIcon.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import MailIcon from "../icons/MailIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout 
    title="Porfolio de Daniel G칩mez - Desarrollador Full-Stack"
    description="Contrata a Daniel G칩mez para desarrollar aplicaciones web o m칩viles. Especializado en crear aplicaciones 칰nicas."
>
    <main>
        <section class="mx-auto w-full lg:w-[740px] py-44">
            <div class="flex items-center gap-x-5">
                <img src="/src/assets/profile.png" class="rounded-full size-30 mb-5" alt="">
            </div>
            <h1 class="text-white text-5xl font-bold flex items-center gap-x-4">
                Hey, soy <span class="text-blue-400"> Daniel</span>

                 <Badge><a
                    href="https://linkedin.com/in/daniel-gomez-benitez-05b62b292"
                    target="_blank"
                    class="flex justify-center items-center p-1"
                    >
                    <span class="flex w-3 h-3 me-3 bg-green-400 rounded-full"></span>
                    Disponible para trabajar
                    </a>
                </Badge>
            </h1>
            <h2 class="mt-6 text-xl">
                Desarrollador de Software Full-Stack. <span class="text-yellow-200/90">De Sevilla, Espa침a 游쀯릖.</span> Graduado en Desarrollo de Aplicaciones Multiplataforma
            </h2>

            <nav class="pt-8 flex gap-x-3">
                    <SocialPill href="https://linkedin.com/in/daniel-gomez-benitez-05b62b292">
                    <LinkedInIcon class="size-4"/> LinkedIn
                    </SocialPill>

                    <SocialPill href="https://github.com/daaniigomez29">
                    <GitHubIcon class="size-5"/> GitHub
                    </SocialPill>

                    <SocialPill href="mailto:danielgomezbenitez29@gmail.com">
                    <MailIcon class="size-5"/> Cont치ctame
                    </SocialPill>

                    <SocialPill href="../src/docs/cv_daniel_gomez_benitez.pdf" download="cv_daniel_gomez_benitez.pdf">
                    <CvIcon class="size-5"/> Curr칤culum
                    </SocialPill>
            </nav>
        </section>

        <section class="mx-auto w-full lg:w-[740px] pb-44">
            <Experience></Experience>
        </section>
    </main>
</Layout>
