<span
    class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300"
>
    <a
        href="https://linkedin.com/in/daniel-gomez-benitez-05b62b292"
        target="_blank"
        class="flex justify-center items-center p-1"
    >
    <slot />
    </a>
</span>
