---
import NavElement from "./NavElement.astro";
---

<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">    
    <nav class="flex flex-row gap-x-7">
        <NavElement href="">Inicio</NavElement> 
        <NavElement href="">Experiencia</NavElement> 
        <NavElement href="">Proyectos</NavElement>
        <NavElement href="">Sobre mi</NavElement>
        <NavElement href="">Contacto</NavElement>
    </nav>
</header>