---
import NavElement from "./NavElement.astro";
---

<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">    
    <nav class="flex flex-row gap-x-7">
        <NavElement href="#inicio">Inicio</NavElement> 
        <NavElement href="#experiencia">Experiencia</NavElement> 
        <NavElement href="#proyectos">Proyectos</NavElement>
        <NavElement href="#sobre-mi">Sobre mí</NavElement>
        <NavElement href="#contacto">Contacto</NavElement>
    </nav>
</header>