<a
    {...Astro.props}
    target="_blank"
    class="flex gap-x-2 bg-gray-300/10 rounded-full border-1 border-gray-200/20 px-5 p-2 h-8 items-center justify-center hover:bg-white/100 hover:text-black transition"
>
    <slot/>
</a>
